doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Document
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
	body
		main.page-main
			#app.app
				.app__header
					.app__top-header
						.app__history-icon
							<svg id="Capa_1" enable-background="new 0 0 551.13 551.13" height="512" viewBox="0 0 551.13 551.13" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m275.531 172.228-.05 120.493c0 4.575 1.816 8.948 5.046 12.177l86.198 86.181 24.354-24.354-81.153-81.136.05-113.361z"/><path d="m310.011 34.445c-121.23 0-221.563 90.033-238.367 206.674h-71.644l86.114 86.114 86.114-86.114h-65.78c16.477-97.589 101.355-172.228 203.563-172.228 113.966 0 206.674 92.707 206.674 206.674s-92.707 206.674-206.674 206.674c-64.064 0-123.469-28.996-162.978-79.555l-27.146 21.192c46.084 58.968 115.379 92.808 190.124 92.808 132.955 0 241.119-108.181 241.119-241.119s-108.164-241.119-241.119-241.12z"/></svg>
					.app__b-result.b-result
						p.b-result__prev-result
						p.b-result__current-result.one-line-dots 0
				.app__buttons-wrap
					.b-option-buttons
					.b-main-buttons.app__b-main-buttons
						ul.b-main-buttons__items
							li.b-main-buttons__item.b-main-buttons__item_gray(data-event-label="%") %
							li.b-main-buttons__item.b-main-buttons__item_gray(data-event-label="CE") CE
							li.b-main-buttons__item.b-main-buttons__item_gray.b-main-buttons__item_red-hover(data-event-label="C") C
							li.b-main-buttons__item.b-main-buttons__item_gray.b-main-buttons__item_red-hover(data-event-label="Backspace")
								<svg enable-background="new 0 0 24 24" height="512" viewBox="0 0 24 24" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m22.5 20h-17c-.167 0-.323-.084-.416-.223l-5-7.5c-.112-.168-.112-.387 0-.555l5-7.5c.093-.138.249-.222.416-.222h17c.827 0 1.5.673 1.5 1.5v13c0 .827-.673 1.5-1.5 1.5zm-16.732-1h16.732c.276 0 .5-.225.5-.5v-13c0-.275-.224-.5-.5-.5h-16.732l-4.667 7z"/><path d="m20.536 16.035c-.128 0-.256-.049-.354-.146l-7.071-7.07c-.195-.195-.195-.512 0-.707s.512-.195.707 0l7.071 7.07c.195.195.195.512 0 .707-.097.097-.225.146-.353.146z"/><path d="m13.464 16.035c-.128 0-.256-.049-.354-.146-.195-.195-.195-.512 0-.707l7.071-7.07c.195-.195.512-.195.707 0s.195.512 0 .707l-7.071 7.07c-.097.097-.225.146-.353.146z"/></svg>
							li.b-main-buttons__item.b-main-buttons__item_gray(data-event-label="1/x") 1/x
							li.b-main-buttons__item.b-main-buttons__item_gray(data-event-label="x^2") x&#178;
							li.b-main-buttons__item.b-main-buttons__item_gray(data-event-label="sqrt") &#x221a
							li.b-main-buttons__item.b-main-buttons__item_gray.b-main-buttons__item_big-font(data-event-label="/") &#247
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="7") 7
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="8") 8
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="9") 9
							li.b-main-buttons__item.b-main-buttons__item_gray.b-main-buttons__item_big-font(data-event-label="*") &#215;
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="4") 4
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="5") 5
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="6") 6
							li.b-main-buttons__item.b-main-buttons__item_gray.b-main-buttons__item_big-font(data-event-label="-") &#8722;
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="1") 1
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="2") 2
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="3") 3
							li.b-main-buttons__item.b-main-buttons__item_gray.b-main-buttons__item_big-font(data-event-label="+") &#x2b;
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="+-") &#177;
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label="0") 0
							li.b-main-buttons__item.b-main-buttons__item_white(data-event-label=".") .
							li.b-main-buttons__item.b-main-buttons__item_yellow.b-main-buttons__item_big-font(data-event-label="=") =